# .gitignore 파일 내용

# 파이썬 관련
__pycache__/
*.py[cod]
*$py.class
*.so

# 가상환경 폴더
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# Django 관련
*.log
local_settings.py

# 데이터베이스 파일 (새로 입력할 것이므로 Git에 포함 안 함)
db.sqlite3

# PyCharm 프로젝트 파일
.idea/

# 사용자가 업로드하는 미디어 파일 (새로 업로드할 것이므로 Git에 포함 안 함)
media/

# collectstatic으로 생성되는 정적 파일 모음 폴더
staticfiles/

# 환경 변수 파일 (매우 중요!)
.env